# Required
SECRET_KEY_BASE=generate_with_mix_phx_gen_secret
DOMAIN=your-domain.com

# Frontend
ORIGIN=https://your-domain.com
VITE_API_URL=/api
VITE_WS_URL=wss://your-domain.com/socket

# Spotify (optional)
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=https://your-domain.com/auth/spotify/callback

# Deezer (optional)
DEEZER_APP_ID=
DEEZER_SECRET=
DEEZER_REDIRECT_URI=https://your-domain.com/auth/deezer/callback

# YouTube Music (optional)
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_REDIRECT_URI=https://your-domain.com/auth/youtube_music/callback
