# Required
SECRET_KEY_BASE=generate_with_mix_phx_gen_secret
PHX_HOST=merma-api.caninhagames.fortal.br

# Frontend build args
VITE_API_URL=https://merma-api.caninhagames.fortal.br/api/v1
VITE_WS_URL=wss://merma-api.caninhagames.fortal.br/socket

# Spotify (optional)
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=https://merma-api.caninhagames.fortal.br/auth/spotify/callback

# Deezer (optional)
DEEZER_APP_ID=
DEEZER_SECRET=
DEEZER_REDIRECT_URI=https://merma-api.caninhagames.fortal.br/auth/deezer/callback

# YouTube Music (optional)
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_REDIRECT_URI=https://merma-api.caninhagames.fortal.br/auth/youtube_music/callback
